p{
    font: 3em "Fira Sans", sans-serif;
}
body{
	background-color: black;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer/Edge */
    user-select: none;         /* Standard syntax */
	
}

#actualOrders{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: end;
    flex-direction: row;
    flex-wrap: wrap;
}


#recallOrders{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    justify-items: end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    top: 50vh;
    position: absolute;
    width: -webkit-fill-available;
}
*{
    /* cursor: none; */
}

.order{
	background-color: white;
	color:black;
}

.command{
	background-color: darkgrey;
	color: white;
	/*font: 3em "Fira Sans", sans-serif;*/
    float: left;
    margin: 10px;
    width: 47%;
    border: 2px solid black;
}

.stateRecall{
	background-color: #7F67AF;
	color: white;
	/*font: 3em "Fira Sans", sans-serif;*/
    float: left;
    margin: 10px;
    width: 47%;
    border: 2px solid black;
}

.command p, .stateRecall p{
	margin-block-start: 0px;
    margin-inline-start: 0px;
    margin-block-end: 0px;
}

.order p{
	padding: 13px 3px;
    margin-left: 20px;
}

#selected{
    border: 2px solid yellow;
}

#hour{
    background-color: white;
    color: black;
    text-align: right;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: absolute;
    top: calc(100vh - 31px);
    left: 0px;
    font-size: 20pt;
    width: 103.78px;
}

#line{
    color :white;
    text-align: center;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: absolute;
    top: calc(100vh - 31px);
    left: calc(50vw - 74.095px);
    font-size: 20pt;
}

#stateLine{
    color:red;
}

#recallWitness{
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: right;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: absolute;
    top: calc(100vh - 31px);
    left: calc(100vw - 19.27px);
    font-size: 20pt;
    
}


#pendingOrders{
    visibility: hidden;
    background-color: white;
    color: black;
    text-align: right;
    margin-block-start: 0px;
    margin-block-end: 0px;
    position: absolute;
    top: calc(100vh - 31px);
    left: 0;
    font-size: 20pt;
    width: max-content;
    
}

.hidden{
    visibility: hidden;
}

.blinkInfo {
    animation: blink-animation 1s steps(5, start) infinite;
    color: red; /* Change the color as needed */
    font-size: 24px; /* Change the font size as needed */
    background-color: white;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 31px;
    border: solid black;
    z-index: 10;
}

.indent{
    text-indent: 35px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


@keyframes fade {
    0% { opacity: 1; } /* Opacité maximale */
    50% { opacity: 0.3; } /* Opacité réduite à mi-chemin */
    100% { opacity: 1; } /* Retour à l'opacité maximale */
}

.blinkGradualy {
    animation: fade 3s infinite; /* Nom de l'animation, durée, itération infinie */
}
  



.text-strikethrough {
    text-decoration: line-through ;
    font-style: italic;
    font-size:2.3em ;

}


.kitchen:has(p){
    margin-top: 4px;
    border-top: solid 4px red;
    border-right: solid 20px red;
}

.fries:has(p){
    margin-top: 4px;
    border-top: solid 4px yellow;
    border-right: solid 20px yellow;
    display: none;
}

.beverage:has(p){
    margin-top: 4px;
    border-top: solid 4px green;
    border-right: solid 20px green;
}


.dessert:has(p){
    margin-top: 4px;
    border-top: solid 4px cyan;
    border-right: solid 20px cyan;

}


.sauce:has(p){
    margin-top: 4px;
    border-top: solid 4px black;
    border-right: solid 20px black;

}


.buttons-layout{
    width: 100%;
    position: absolute;
    bottom: 36.5px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.button{
    background-color: #5232a7;
    width : 142px;
    height: 32px;
    transition: background-color 200ms;

    p{
        font-size: 15pt;
        color: white;
        text-align: center;
        margin:4.5px;
        text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}

.button:active{
    background-color: #804cff;
    transition: background-color 200ms;
}